**/log/*
!**/src/**/log
samples/simple_register.rb
.vagrant
*.swp
*.log
*.jtl
*.pyc
Scripts/jenkins/ab_test/json
target/*
project/
project/target/
*.retry
.idea
*.iml
.ensime
.ensime_cache
.DS_Store
*.dbg*
*.evt*
spark-warehouse/
.project
config-preprocessed.xml
users-preprocessed.xml
**/lf-dev-firebase-adminsdk-*.json
.metals/
.bloop/
__pycache__/
dev.conf
out
sftppoller/*_*md5
.bsp/
